---
#
# Configure a custom repository at packages.serverascode.com/mrepo
# that has the vcl, vcl-web, and vcl-managementnode RPMs
#
- name: install the serverascode centos 6 yum repo file 
  action: copy src=files/serverascode-centos6.repo dest=/etc/yum.repos.d/serverascode-centos6.repo owner=root group=root mode=0644
  notify:
    - refesh yum cache
#
# Make sure vcl-* are installed
#
- name: make sure vcl is installed
  action: yum pkg=vcl state=installed
- name: make sure vcl-web is installed
  action: yum pkg=vcl-web state=installed
- name: make sure vcl-managementnode is installed
  action: yum pkg=vcl-managementnode state=installed
#
# For the purposes of this example we'll just turn off iptables, bad sysadmin!
- name: turn off iptables service
  action: service name=iptables state=stopped
- name: chkconfig iptables off
  action: command /sbin/chkconfig iptables off
#
# Apache
#
- name: ensure apache is installed
  action: yum pkg=httpd state=installed
- name: make sure apache is running
  action: service name=httpd state=running
- name: copy over the vcl.conf file
  action: copy src=files/vcl.conf dest=/etc/httpd/conf.d/vcl.conf owner=root group=root mode=0644
  notify:
    - restart apache
#
# VCL RPMs
#
- name: make sure vcl RPM is installed
  action: yum pkg=vcl state=installed
- name: make sure vcl-web RPM is installed
  action: yum pkg=vcl-web state=installed
- name: make sure vcl-managementnode RPM is installed
  action: yum pkg=vcl-managementnode state=installed
#
# Database
#
- name: ensure mysqld is installed
  action: yum pkg=mysql-server state=installed
- name: make sure mysql is running  
  action: service name=mysqld state=running
#
# VCL web GUI configuration
#
- name: copy over conf.php template
  action: template src=templates/conf.j2 dest=/usr/share/vcl-web/.ht-inc/conf.php owner=root group=apache mode=0640
- name: copy over secrets.php template
  action: template src=templates/secrets.j2 dest=/usr/share/vcl-web/.ht-inc/secrets.php
